body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(17, 17, 17);
  margin: 0rem;
  overflow: hidden;
}

#image-track {
  display: flex;
  gap: 2vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%); 
  user-select: none; /* -- Prevent image highlighting -- */
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
  transition: 0.5s;
  padding-top: 7vmin;
  z-index: 2;
}

.img-text {
  color: aliceblue;
  width: 0px;
  position: relative;
  transform: translate3d(-10vmin,56vmin,0);
  z-index: 1;
}

.num {
  position: absolute;
  color: aliceblue;
}